{% extends 'base.html' %}

{% load staticfiles %}

<!-- css 링크 -->
{% block header %}
<style>
    *{
        text-align: center;
    }
    button {
    background-color: white;
    border-color: rgb(30, 255, 0);
    border-radius: 10px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    border-width: 4px;
    margin: auto;
    display: block;
    }
    img{
        margin-top: 10%;
        width: 300px;
    }
</style>
{% endblock %}

{% block content %}

   <!-- 들어왓을떄 바로 보이는 메인 페이지 입니다. -->

   <!-- 배경이미지 -->
   <div class="bg_img">
      <img src="{% static '/images/멜론.jpg' %}" alt="" class="bg">
   </div>

   <!-- 글내용 -->
   <div class="content">
      <h1 class="title">멜론 게임</h1>
      <p>맬론에서는 어떤 키워드가 많이 검색 될까요?</p>
      <p>멜론에서 검색되는 많은 키워드들의 검색량을 비교하는 게임을 시작해 볼까요!</p>
         <div class="button">
            <button class="strat" onclick="location.href='{% url 'main:select_game' %}'">게임시작</button>
         </div>
   </div>

   <!-- 추가될게 있으면 이쪽에 넣으면 될것같아요 -->
   <div class="footer">

   </div>

{% endblock %} 
