{% extends 'base.html' %}
{% load staticfiles %}

<!-- css 링크 -->
{% block header %}
<style>
        *{
            text-align: center;
        }

        button {
        background-color: white;
        border-color: rgb(162, 0, 255);
        border-radius: 10px;
        width: 100px;
        height: 60px;
        font-size: 20px;
        border-width: 4px;
        margin-top: 50px;
        display: inline-block;
        }

        img{
            margin-top: 10%;
            width: 300px;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- 게임 고르는 페이지 입니다. -->

    <!-- 배경이미지 -->
    <div class="bg_img">
        <img src="" alt="" class="bg">
    </div>

    <!-- 글내용 -->
    <div class="content">
        <h1 class="title">멜론 게임</h1>
        <p>비교하고 싶은 키워드를 골라주세요.</p>
            <!-- 카테고리 선택 버튼 -->
            <div class="select_button">
                {% for item in games %}
                <button onclick="location.href='{% url 'main:start_game' item.name %}'">{{item.name}}</button>
                {% endfor %}
            </div>
    </div>

{% endblock %}
